name: Java CI build Jar Artifact

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build
      run: |
        mkdir classes
        javac -sourcepath src -d classes src/Main.java
        jar cvfm ReverseCharacter.jar MANIFEST.MF -C classes .
        mv ReverseCharacter.jar staging

    - uses: actions/upload-artifact@v1
      with:
        name: ReverseCharacter
        path: staging

